In [1]:
import pandas as pd
import numpy as np

In [2]:
file =pd.read_csv('EURAUD1440.csv', names=["Date", "Time", "Open", "High", "Low", "Close", "Volume"])
file.head()

         Date   Time    Open    High     Low   Close  Volume
0  2004.06.17  00:00  1.7429  1.7763  1.7408  1.7687   10497
1  2004.06.18  00:00  1.7686  1.7686  1.7508  1.7618    6098
2  2004.06.21  00:00  1.7576  1.7634  1.7492  1.7539    6322
3  2004.06.22  00:00  1.7537  1.7643  1.7512  1.7613    6697
4  2004.06.23  00:00  1.7612  1.7662  1.7533  1.7567    7000

In [3]:
file.drop(file.loc[:, ["Time", "Open", "High", "Low", "Volume"]], inplace=True, axis=1)
file.head()

         Date   Close
0  2004.06.17  1.7687
1  2004.06.18  1.7618
2  2004.06.21  1.7539
3  2004.06.22  1.7613
4  2004.06.23  1.7567

In [ ]:
file.dtypes

In [4]:
file['Date'] = pd.to_datetime(file['Date'])
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3701 entries, 0 to 3700
Data columns (total 2 columns):
Date     3701 non-null datetime64[ns]
Close    3701 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 57.9 KB

In [5]:
file['Year'] = file.Date.dt.year
file['Week_day'] =file.Date.dt.weekday
file['Week_year'] = file.Date.dt.weekofyear
file['Returns'] = np.log(file.Close/file.Close.shift(1)) 
file.head()

        Date   Close  Year  Week_day  Week_year   Returns
0 2004-06-17  1.7687  2004         3         25       NaN
1 2004-06-18  1.7618  2004         4         25 -0.003909
2 2004-06-21  1.7539  2004         0         26 -0.004494
3 2004-06-22  1.7613  2004         1         26  0.004210
4 2004-06-23  1.7567  2004         2         26 -0.002615

In [6]:
file.head(20)

         Date   Close  Year  Week_day  Week_year   Returns
0  2004-06-17  1.7687  2004         3         25       NaN
1  2004-06-18  1.7618  2004         4         25 -0.003909
2  2004-06-21  1.7539  2004         0         26 -0.004494
3  2004-06-22  1.7613  2004         1         26  0.004210
4  2004-06-23  1.7567  2004         2         26 -0.002615
5  2004-06-24  1.7401  2004         3         26 -0.009494
6  2004-06-25  1.7372  2004         4         26 -0.001668
7  2004-06-28  1.7391  2004         0         27  0.001093
8  2004-06-29  1.7474  2004         1         27  0.004761
9  2004-06-30  1.7450  2004         2         27 -0.001374
10 2004-07-01  1.7235  2004         3         27 -0.012397
11 2004-07-02  1.7258  2004         4         27  0.001334
12 2004-07-05  1.7254  2004         0         28 -0.000232
13 2004-07-06  1.7204  2004         1         28 -0.002902
14 2004-07-07  1.7105  2004         2         28 -0.005771
15 2004-07-08  1.7179  2004         3         28  0.004317
16 2004-07-09  1.7185  2004         4         28  0.000349
17 2004-07-12  1.7063  2004         0         29 -0.007125
18 2004-07-13  1.7007  2004         1         29 -0.003287
19 2004-07-14  1.7086  2004         2         29  0.004634

In [7]:
present = file.loc[file['Week_year']== 39,]
#bulls = present.loc[present['Direction'] == 'Bull',:]
#bears = present.loc[present['Direction'] == 'Bear',:]

In [8]:
present

           Date    Close  Year  Week_day  Week_year   Returns
67   2004-09-20  1.73710  2004         0         39 -0.004709
68   2004-09-21  1.75090  2004         1         39  0.007913
69   2004-09-22  1.73380  2004         2         39 -0.009814
70   2004-09-23  1.71890  2004         3         39 -0.008631
71   2004-09-24  1.71680  2004         4         39 -0.001222
330  2005-09-26  1.59510  2005         0         39  0.003077
331  2005-09-27  1.58840  2005         1         39 -0.004209
332  2005-09-28  1.58640  2005         2         39 -0.001260
333  2005-09-29  1.58240  2005         3         39 -0.002525
334  2005-09-30  1.57760  2005         4         39 -0.003038
587  2006-09-25  1.69010  2006         0         39 -0.007897
588  2006-09-26  1.68750  2006         1         39 -0.001540
589  2006-09-27  1.69000  2006         2         39  0.001480
590  2006-09-28  1.69550  2006         3         39  0.003249
591  2006-09-29  1.69830  2006         4         39  0.001650
844  2007-09-24  1.62170  2007         0         39 -0.001971
845  2007-09-25  1.61880  2007         1         39 -0.001790
846  2007-09-26  1.61150  2007         2         39 -0.004520
847  2007-09-27  1.60790  2007         3         39 -0.002236
848  2007-09-28  1.60630  2007         4         39 -0.000996
1100 2008-09-22  1.75370  2008         0         39  0.011066
1101 2008-09-23  1.75900  2008         1         39  0.003018
1102 2008-09-24  1.75280  2008         2         39 -0.003531
1103 2008-09-25  1.75130  2008         3         39 -0.000856
1104 2008-09-26  1.75810  2008         4         39  0.003875
1358 2009-09-21  1.70140  2009         0         39  0.003533
1359 2009-09-22  1.69240  2009         1         39 -0.005304
1360 2009-09-23  1.69530  2009         2         39  0.001712
1361 2009-09-24  1.69350  2009         3         39 -0.001062
1362 2009-09-25  1.69200  2009         4         39 -0.000886
...         ...      ...   ...       ...        ...       ...
2144 2012-09-26  1.24072  2012         2         39 -0.001087
2145 2012-09-27  1.23580  2012         3         39 -0.003973
2146 2012-09-28  1.23869  2012         4         39  0.002336
2401 2013-09-23  1.43151  2013         0         39 -0.005267
2402 2013-09-24  1.43501  2013         1         39  0.002442
2403 2013-09-25  1.44430  2013         2         39  0.006453
2404 2013-09-26  1.44005  2013         3         39 -0.002947
2405 2013-09-27  1.45081  2013         4         39  0.007444
2660 2014-09-22  1.44794  2014         0         39  0.007584
2661 2014-09-23  1.45235  2014         1         39  0.003041
2662 2014-09-24  1.43902  2014         2         39 -0.009221
2663 2014-09-25  1.45034  2014         3         39  0.007836
2664 2014-09-26  1.44658  2014         4         39 -0.002596
2918 2015-09-21  1.56843  2015         0         39 -0.000924
2919 2015-09-22  1.56868  2015         1         39  0.000159
2920 2015-09-23  1.59664  2015         2         39  0.017667
2921 2015-09-24  1.59844  2015         3         39  0.001127
2922 2015-09-25  1.59269  2015         4         39 -0.003604
3181 2016-09-26  1.47333  2016         0         39  0.002195
3182 2016-09-27  1.46218  2016         1         39 -0.007597
3183 2016-09-28  1.45788  2016         2         39 -0.002945
3184 2016-09-29  1.46896  2016         3         39  0.007571
3185 2016-09-30  1.46691  2016         4         39 -0.001397
3441 2017-09-25  1.49268  2017         0         39 -0.008532
3442 2017-09-26  1.49480  2017         1         39  0.001419
3443 2017-09-27  1.49617  2017         2         39  0.000916
3444 2017-09-28  1.49987  2017         3         39  0.002470
3445 2017-09-29  1.50798  2017         4         39  0.005393
3699 2018-09-24  1.61963  2018         0         39  0.004307
3700 2018-09-25  1.62296  2018         1         39  0.002054

[72 rows x 6 columns]

In [9]:
len(present)

72

In [11]:
a

C:\Users\Siseng Consulting\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
present

,Date,Close,Year,Week_day,Week_year,Returns,lag_1,lag_2,lag_3,lag_4,lag_5,lag_6,lag_7,lag_8
67,2004-09-20,1.73710,2004,0,39,-0.004709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,2004-09-21,1.75090,2004,1,39,0.007913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,2004-09-22,1.73380,2004,2,39,-0.009814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,2004-09-23,1.71890,2004,3,39,-0.008631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,2004-09-24,1.71680,2004,4,39,-0.001222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,2005-09-26,1.59510,2005,0,39,0.003077,-0.004709,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,2005-09-27,1.58840,2005,1,39,-0.004209,0.007913,-0.004709,NaN,NaN,NaN,NaN,NaN,NaN
332,2005-09-28,1.58640,2005,2,39,-0.001260,-0.009814,0.007913,-0.004709,NaN,NaN,NaN,NaN,NaN
333,2005-09-29,1.58240,2005,3,39,-0.002525,-0.008631,-0.009814,0.007913,-0.004709,NaN,NaN,NaN,NaN
334,2005-09-30,1.57760,2005,4,39,-0.003038,-0.001222,-0.008631,-0.009814,0.007913,-0.004709,NaN,NaN,NaN
587,2006-09-25,1.69010,2006,0,39,-0.007897,0.003077,-0.001222,-0.008631,-0.009814,0.007913,-0.004709,NaN,NaN
588,2006-09-26,1.68750,2006,1,39,-0.001540,-0.004209,0.003077,-0.001222,-0.008631,-0.009814,0.007913,-0.004709,NaN
589,2006-09-27,1.69000,2006,2,39,0.001480,-0.001260,-0.004209,0.003077,-0.001222,-0.008631,-0.009814,0.007913,-0.004709
590,2006-09-28,1.69550,2006,3,39,0.003249,-0.002525,-0.001260,-0.004209,0.003077,-0.001222,-0.008631,-0.009814,0.007913
591,2006-09-29,1.69830,2006,4,39,0.001650,-0.003038,-0.002525,-0.001260,-0.004209,0.003077,-0.001222,-0.008631,-0.009814
844,2007-09-24,1.62170,2007,0,39,-0.001971,-0.007897,-0.003038,-0.002525,-0.001260,-0.004209,0.003077,-0.001222,-0.008631
845,2007-09-25,1.61880,2007,1,39,-0.001790,-0.001540,-0.007897,-0.003038,-0.002525,-0.001260,-0.004209,0.003077,-0.001222
846,2007-09-26,1.61150,2007,2,39,-0.004520,0.001480,-0.001540,-0.007897,-0.003038,-0.002525,-0.001260,-0.004209,0.003077
847,2007-09-27,1.60790,2007,3,39,-0.002236,0.003249,0.001480,-0.001540,-0.007897,-0.003038,-0.002525,-0.001260,-0.004209
848,2007-09-28,1.60630,2007,4,39,-0.000996,0.001650,0.003249,0.001480,-0.001540,-0.007897,-0.003038,-0.002525,-0.001260
1100,2008-09-22,1.75370,2008,0,39,0.011066,-0.001971,0.001650,0.003249,0.001480,-0.001540,-0.007897,-0.003038,-0.002525
1101,2008-09-23,1.75900,2008,1,39,0.003018,-0.001790,-0.001971,0.001650,0.003249,0.001480,-0.001540,-0.007897,-0.003038
1102,2008-09-24,1.75280,2008,2,39,-0.003531,-0.004520,-0.001790,-0.001971,0.001650,0.003249,0.001480,-0.001540,-0.007897
1103,2008-09-25,1.75130,2008,3,39,-0.000856,-0.002236,-0.004520,-0.001790,-0.001971,0.001650,0.003249,0.001480,-0.001540
1104,2008-09-26,1.75810,2008,4,39,0.003875,-0.000996,-0.002236,-0.004520,-0.001790,-0.001971,0.001650,0.003249,0.001480
1358,2009-09-21,1.70140,2009,0,39,0.003533,0.011066,-0.000996,-0.002236,-0.004520,-0.001790,-0.001971,0.001650,0.003249
1359,2009-09-22,1.69240,2009,1,39,-0.005304,0.003018,0.011066,-0.000996,-0.002236,-0.004520,-0.001790,-0.001971,0.001650
1360,2009-09-23,1.69530,2009,2,39,0.001712,-0.003531,0.003018,0.011066,-0.000996,-0.002236,-0.004520,-0.001790,-0.001971
1361,2009-09-24,1.69350,2009,3,39,-0.001062,-0.000856,-0.003531,0.003018,0.011066,-0.000996,-0.002236,-0.004520,-0.001790
1362,2009-09-25,1.69200,2009,4,39,-0.000886,0.003875,-0.000856,-0.003531,0.003018,0.011066,-0.000996,-0.002236,-0.004520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2144,2012-09-26,1.24072,2012,2,39,-0.001087,0.011133,-0.002637,-0.003123,0.004554,0.003195,0.001829,0.003397,-0.005041
2145,2012-09-27,1.23580,2012,3,39,-0.003973,0.002492,0.011133,-0.002637,-0.003123,0.004554,0.003195,0.001829,0.003397
2146,2012-09-28,1.23869,2012,4,39,0.002336,-0.003748,0.002492,0.011133,-0.002637,-0.003123,0.004554,0.003195,0.001829
2401,2013-09-23,1.43151,2013,0,39,-0.005267,-0.000822,-0.003748,0.002492,0.011133,-0.002637,-0.003123,0.004554,0.003195
2402,2013-09-24,1.43501,2013,1,39,0.002442,0.001902,-0.000822,-0.003748,0.002492,0.011133,-0.002637,-0.003123,0.004554
2403,2013-09-25,1.44430,2013,2,39,0.006453,-0.001087,0.001902,-0.000822,-0.003748,0.002492,0.011133,-0.002637,-0.003123
2404,2013-09-26,1.44005,2013,3,39,-0.002947,-0.003973,-0.001087,0.001902,-0.000822,-0.003748,0.002492,0.011133,-0.002637
2405,2013-09-27,1.45081,2013,4,39,0.007444,0.002336,-0.003973,-0.001087,0.001902,-0.000822,-0.003748,0.002492,0.011133
2660,2014-09-22,1.44794,2014,0,39,0.007584,-0.005267,0.002336,-0.003973,-0.001087,0.001902,-0.000822,-0.003748,0.002492
2661,2014-09-23,1.45235,2014,1,39,0.003041,0.002442,-0.005267,0.002336,-0.003973,-0.001087,0.001902,-0.000822,-0.003748
2662,2014-09-24,1.43902,2014,2,39,-0.009221,0.006453,0.002442,-0.005267,0.002336,-0.003973,-0.001087,0.001902,-0.000822
2663,2014-09-25,1.45034,2014,3,39,0.007836,-0.002947,0.006453,0.002442,-0.005267,0.002336,-0.003973,-0.001087,0.001902
2664,2014-09-26,1.44658,2014,4,39,-0.002596,0.007444,-0.002947,0.006453,0.002442,-0.005267,0.002336,-0.003973,-0.001087
2918,2015-09-21,1.56843,2015,0,39,-0.000924,0.007584,0.007444,-0.002947,0.006453,0.002442,-0.005267,0.002336,-0.003973
2919,2015-09-22,1.56868,2015,1,39,0.000159,0.003041,0.007584,0.007444,-0.002947,0.006453,0.002442,-0.005267,0.002336
2920,2015-09-23,1.59664,2015,2,39,0.017667,-0.009221,0.003041,0.007584,0.007444,-0.002947,0.006453,0.002442,-0.005267
2921,2015-09-24,1.59844,2015,3,39,0.001127,0.007836,-0.009221,0.003041,0.007584,0.007444,-0.002947,0.006453,0.002442
2922,2015-09-25,1.59269,2015,4,39,-0.003604,-0.002596,0.007836,-0.009221,0.003041,0.007584,0.007444,-0.002947,0.006453
3181,2016-09-26,1.47333,2016,0,39,0.002195,-0.000924,-0.002596,0.007836,-0.009221,0.003041,0.007584,0.007444,-0.002947
3182,2016-09-27,1.46218,2016,1,39,-0.007597,0.000159,-0.000924,-0.002596,0.007836,-0.009221,0.003041,0.007584,0.007444
3183,2016-09-28,1.45788,2016,2,39,-0.002945,0.017667,0.000159,-0.000924,-0.002596,0.007836,-0.009221,0.003041,0.007584
3184,2016-09-29,1.46896,2016,3,39,0.007571,0.001127,0.017667,0.000159,-0.000924,-0.002596,0.007836,-0.009221,0.003041
3185,2016-09-30,1.46691,2016,4,39,-0.001397,-0.003604,0.001127,0.017667,0.000159,-0.000924,-0.002596,0.007836,-0.009221
3441,2017-09-25,1.49268,2017,0,39,-0.008532,0.002195,-0.003604,0.001127,0.017667,0.000159,-0.000924,-0.002596,0.007836
3442,2017-09-26,1.49480,2017,1,39,0.001419,-0.007597,0.002195,-0.003604,0.001127,0.017667,0.000159,-0.000924,-0.002596
3443,2017-09-27,1.49617,2017,2,39,0.000916,-0.002945,-0.007597,0.002195,-0.003604,0.001127,0.017667,0.000159,-0.000924
3444,2017-09-28,1.49987,2017,3,39,0.002470,0.007571,-0.002945,-0.007597,0.002195,-0.003604,0.001127,0.017667,0.000159
3445,2017-09-29,1.50798,2017,4,39,0.005393,-0.001397,0.007571,-0.002945,-0.007597,0.002195,-0.003604,0.001127,0.017667
3699,2018-09-24,1.61963,2018,0,39,0.004307,-0.008532,-0.001397,0.007571,-0.002945,-0.007597,0.002195,-0.003604,0.001127
3700,2018-09-25,1.62296,2018,1,39,0.002054,0.001419,-0.008532,-0.001397,0.007571,-0.002945,-0.007597,0.002195,-0.003604

In [ ]:
op_1 = bulls.loc[bulls['Week_day'] == 'Tuesday', :]
op_1

In [ ]:
op_2 = bears.loc[bears['Week_day'] == 'Friday', :]
op_2

In [ ]:
bull_Confidence =len(op_1)/(len(op_1) + len(op_2))
bull_Confidence

In [ ]:
bear_Confidence = len(op_2)/(len(op_2) + len(op_1))
bear_Confidence

In [ ]:
file.head()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
pivott = file.pivot_table(index = 'Week_day', columns = ['Direction','Week_year'], values='Returns', aggfunc='count')

In [ ]:
raw_data = {'student_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'test_score': [76, 88, 84, 67, 53, 96, 64, 91, 77, 73, 52, np.NaN]}
df = pd.DataFrame(raw_data, columns = ['student_name', 'test_score'])

In [ ]:
# Create a list to store the data
grades = []

# For each row in the column,
for row in df['test_score']:
    # if more than a value,
    if row > 95:
        # Append a letter grade
        grades.append('A')
    # else, if more than a value,
    elif row > 90:
        # Append a letter grade
        grades.append('A-')
    # else, if more than a value,
    elif row > 85:
        # Append a letter grade
        grades.append('B')
    # else, if more than a value,
    elif row > 80:
        # Append a letter grade
        grades.append('B-')
    # else, if more than a value,
    elif row > 75:
        # Append a letter grade
        grades.append('C')
    # else, if more than a value,
    elif row > 70:
        # Append a letter grade
        grades.append('C-')
    # else, if more than a value,
    elif row > 65:
        # Append a letter grade
        grades.append('D')
    # else, if more than a value,
    elif row > 60:
        # Append a letter grade
        grades.append('D-')
    # otherwise,
    else:
        # Append a failing grade
        grades.append('Failed')
        
# Create a column from the list
df['grades'] = grades

In [ ]:
# View the new dataframe
df

In [ ]:
import keras